/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

body{
  background-color: rgba(0, 0, 0, 0.882);
  color:white;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;

}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* background-color: maroon;
  color:white; */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.PizzasMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 660px;
  align-items: center;
  border: 1px solid red;
  background-color:rgba(108, 23, 72, 0.097)

}


/* Carousel styles
-------------------------------------------------- */


.carousel-inner::after{
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.carousel-caption {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.txtBanner{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  text-shadow: 1px 2px 1px 2px rgb(0,0,0);
}
.whoWeAre{
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 2rem;
}
.whoWeAre h3{
  font-family: 'Squada One', 'Arial';
  font-size:2rem;
}
.whoWeAre img{
  margin-right: 15px;
}
.whatWeDo h1{
  font-family: 'Dancing Script', 'Arial';
}
.howWeDo p{
  text-align: left;
  font-family:'Kanit';
  margin-right:30%;
}
.buttonAction{
  margin-top: 1.5rem;;
}

.buttonAction button:hover{
  border:none;
  background-color:rgb(233, 159, 0);
  color:rgb(255, 255, 255);
}
.buttonAction2{
  display:none;
}

@media (max-width:768px){
  .buttonAction{
      display:none;
  }
  .txtBanner{
      align-items: center;

  }
  .buttonAction2{
      display: none;
      flex-flow: column;
      justify-items: center;
      width:100%;
      color:rgb(233, 159, 0);

  }
  .buttonAction2 a{
      color: inherit;
  }
  .buttonAction2:hover{
      color:rgb(233, 100, 0);
  }
  .whoWeAre{
      margin-bottom:0px;
  }
  .whoWeAre h3{
      font-size:1.2rem;
      margin:0;
  }

  .whoWeAre img{
      margin:0;
  }
  .whatWeDo {
      display:none;
  }
  .howWeDo {
      display:none;
  }

}
